<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        <div class="flex justify-between items-center">
          <img
            src="../assets/images/logo.png"
            class="w-40 h-10"
            alt="logo"
            routerLink="/"
          />

          <div class="flex flex-wrap space-x-2 items-center hidden lg:block">
            <ng-container *ngFor="let p of appPages; let i = index">
              <a
                [routerLink]="[p.url]"
                class="px-2 py-2 hover:bg-gray-100 rounded text-base shadow"
                routerDirection="root"
                routerLinkActive="selected"
              >
                <span>{{ p.title || "Menu Item" }}</span>
                <span
                  *ngIf="p.title === 'Enquiries' && unreadEnquiries"
                  class="ml-2"
                >
                  {{ unreadEnquiries }}
                </span>
              </a>
            </ng-container>

            <ng-container *ngFor="let p of appLowerPages; let i = index">
              <a
                [routerLink]="[p.url]"
                class="px-2 py-2 hover:bg-gray-100 rounded text-base shadow"
                routerDirection="root"
                routerLinkActive="selected"
                [hidden]="isHidden(p)"
              >
                <span>{{ p.title || "Menu Item" }}</span>
              </a>
            </ng-container>

            <div *ngIf="user">
              <button
                (click)="signOut()"
                class="px-2 py-2 rounded bg-red-500 text-white text-base shadow"
              >
                Sign Out
              </button>
            </div>
          </div>
          <button type="button" class="block lg:hidden" (click)="toggleFade()">
            <i class="fa-solid fa-equals"></i>
          </button>
        </div>

        <div *ngIf="show" class="flex flex-col items-center block lg:hidden">
          <div class="flex flex-col space-y-4 items-center py-3">
            <!-- Loop through appPages for main menu items -->
            <ng-container *ngFor="let p of appPages; let i = index">
              <a
                [routerLink]="[p.url]"
                class="px-2 py-2 hover:bg-gray-100 rounded text-base shadow"
                routerDirection="root"
                routerLinkActive="selected"
              >
                <span>{{ p.title || "Menu Item" }}</span>
                <span
                  *ngIf="p.title === 'Enquiries' && unreadEnquiries"
                  class="ml-2"
                >
                  {{ unreadEnquiries }}
                </span>
              </a>
            </ng-container>

            <!-- Loop through appLowerPages for additional menu items -->
            <ng-container *ngFor="let p of appLowerPages; let i = index">
              <a
                [routerLink]="[p.url]"
                class="px-2 py-2 hover:bg-gray-100 rounded text-base shadow"
                routerDirection="root"
                routerLinkActive="selected"
                [hidden]="isHidden(p)"
              >
                <span>{{ p.title || "Menu Item" }}</span>
              </a>
            </ng-container>

            <!-- Display sign out button if user is logged in -->
            <div *ngIf="user">
              <button
                (click)="signOut()"
                class="px-2 py-2 hover:bg-gray-100 rounded text-base shadow"
              >
                Sign Out
              </button>
            </div>
          </div>
        </div>
      </ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-split-pane contentId="main-content">
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
